# Building a Spam Filter with Naive Bayes

In this project, we're going to build a spam filter for SMS messages using the multinomial Naive Bayes algorithm. Our goal is to write a program that classifies new messages with an accuracy greater than 80% — so we expect that more than 80% of the new messages will be classified correctly as spam or ham (non-spam).

To train the algorithm, we'll use a dataset of 5,572 SMS messages that are already classified by humans. The dataset was put together by Tiago A. Almeida and José María Gómez Hidalgo, and it can be downloaded from the The UCI Machine Learning Repository. The data collection process is described in more details on this page, where you can also find some of the papers authored by Tiago A. Almeida and José María Gómez Hidalgo.

# Exploring the Dataset

In [1]:
import pandas as pd

sms_spam = pd.read_csv('SMSSpamCollection', sep='\t', header=None, names=['Label', 'SMS'])

print(sms_spam.shape)
sms_spam.head()

(5572, 2)

  Label                                                SMS
0   ham  Go until jurong point, crazy.. Available only ...
1   ham                      Ok lar... Joking wif u oni...
2  spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   ham  U dun say so early hor... U c already then say...
4   ham  Nah I don't think he goes to usf, he lives aro...

In [2]:
sms_spam['Label'].value_counts(normalize=True)

ham     0.865937
spam    0.134063
Name: Label, dtype: float64

# Training and Test Set

In [3]:
# Randomize the dataset
data_randomized = sms_spam.sample(frac=1, random_state=1)

# Calculate index for split
training_test_index = round(len(data_randomized) * 0.8)

# Training/Test split
training_set = data_randomized[:training_test_index].reset_index(drop=True)
test_set = data_randomized[training_test_index:].reset_index(drop=True)

print(training_set.shape)
print(test_set.shape)

(4458, 2)
(1114, 2)

In [4]:
training_set['Label'].value_counts(normalize=True)

ham     0.86541
spam    0.13459
Name: Label, dtype: float64

In [5]:
test_set['Label'].value_counts(normalize=True)

ham     0.868043
spam    0.131957
Name: Label, dtype: float64

# Data Cleaning

In [6]:
training_set['SMS'] = training_set['SMS'].str.replace('\W', ' ')
training_set['SMS'] = training_set['SMS'].str.lower()
training_set.head()

  Label                                                SMS
0   ham                       yep  by the pretty sculpture
1   ham      yes  princess  are you going to make me moan
2   ham                         welp apparently he retired
3   ham                                            havent
4   ham  i forgot 2 ask ü all smth   there s a card on ...

In [7]:
training_set['SMS'] = training_set['SMS'].str.split()
training_set['SMS']

0                       [yep, by, the, pretty, sculpture]
1       [yes, princess, are, you, going, to, make, me,...
2                         [welp, apparently, he, retired]
3                                                [havent]
4       [i, forgot, 2, ask, ü, all, smth, there, s, a,...
5       [ok, i, thk, i, got, it, then, u, wan, me, 2, ...
6       [i, want, kfc, its, tuesday, only, buy, 2, mea...
7                         [no, dear, i, was, sleeping, p]
8                              [ok, pa, nothing, problem]
9                        [ill, be, there, on, lt, gt, ok]
10      [my, uncles, in, atlanta, wish, you, guys, a, ...
11                                            [my, phone]
12                     [ok, which, your, another, number]
13      [the, greatest, test, of, courage, on, earth, ...
14      [dai, what, this, da, can, i, send, my, resume...
15                  [i, am, late, i, will, be, there, at]
16      [freemsg, why, haven, t, you, replied, to, my,...
17             [k, text, me, when, you, re, on, the, way]
18      [congrats, 2, mobile, 3g, videophones, r, your...
19      [please, leave, this, topic, sorry, for, telli...
20      [ooooooh, i, forgot, to, tell, u, i, can, get,...
21      [hi, this, is, yijue, can, i, meet, u, at, 11,...
22      [i, want, to, show, you, the, world, princess,...
23             [well, that, must, be, a, pain, to, catch]
24              [well, you, know, what, i, mean, texting]
25      [your, bill, at, 3, is, 33, 65, so, thats, not...
26                      [yeah, where, s, your, class, at]
27                                     [what, s, ur, pin]
28      [fighting, with, the, world, is, easy, u, eith...
29      [dude, what, s, up, how, teresa, hope, you, ha...
                              ...
4428             [uncle, abbey, happy, new, year, abiola]
4429       [from, tomorrow, onwards, eve, 6, to, 3, work]
4430                  [haha, just, what, i, was, thinkin]
4431                         [happy, new, year, princess]
4432    [let, me, know, how, to, contact, you, i, ve, ...
4433    [i, don, t, know, u, and, u, don, t, know, me,...
4434    [yes, how, is, a, pretty, lady, like, you, sin...
4435                          [just, getting, back, home]
4436                    [oh, my, god, i, m, almost, home]
4437    [congratulations, you, ve, won, you, re, a, wi...
4438    [i, cant, pick, the, phone, right, now, pls, s...
4439    [win, the, newest, harry, potter, and, the, or...
4440                   [dear, umma, she, called, me, now]
4441                    [aight, lemme, know, what, s, up]
4442    [good, evening, sir, hope, you, are, having, a...
4443    [someone, u, know, has, asked, our, dating, se...
4444         [2marrow, only, wed, at, lt, gt, to, 2, aha]
4445    [haha, yeah, i, see, that, now, be, there, in,...
4446                       [aathi, where, are, you, dear]
4447    [pls, give, her, the, food, preferably, pap, v...
4448      [i, donno, its, in, your, genes, or, something]
4449    [your, chance, to, be, on, a, reality, fantasy...
4450                           [prakesh, is, there, know]
4451    [the, beauty, of, life, is, in, next, second, ...
4452           [how, about, clothes, jewelry, and, trips]
4453    [sorry, i, ll, call, later, in, meeting, any, ...
4454    [babe, i, fucking, love, you, too, you, know, ...
4455    [u, ve, been, selected, to, stay, in, 1, of, 2...
4456    [hello, my, boytoy, geeee, i, miss, you, alrea...
4457                              [wherre, s, my, boytoy]
Name: SMS, Length: 4458, dtype: object

In [8]:
vocabulary = []
for sms in training_set['SMS']:
    for word in sms:
        vocabulary.append(word)
        
vocabulary = list(set(vocabulary))

In [10]:
len(vocabulary)

7783

# The Final Training Set

In [11]:
word_counts_per_sms = {unique_word: [0] * len(training_set['SMS']) for unique_word in vocabulary}

for index, sms in enumerate(training_set['SMS']):
    for word in sms:
        word_counts_per_sms[word][index] += 1

In [12]:
word_counts = pd.DataFrame(word_counts_per_sms)
word_counts.head()

,0,00,000,000pes,008704050406,0089,01223585334,02,0207,02072069400,...,zindgi,zoe,zogtorius,zouk,zyada,é,ú1,ü,〨ud,鈥
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0

In [17]:
training_set_clean = pd.concat([training_set, word_counts], axis=1)
training_set_clean.head()

,Label,SMS,0,00,000,000pes,008704050406,0089,01223585334,02,...,zindgi,zoe,zogtorius,zouk,zyada,é,ú1,ü,〨ud,鈥
0,ham,"[yep, by, the, pretty, sculpture]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,ham,"[yes, princess, are, you, going, to, make, me,...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,ham,"[welp, apparently, he, retired]",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,ham,[havent],0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,ham,"[i, forgot, 2, ask, ü, all, smth, there, s, a,...",0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,2,0,0

In [21]:
# Isolating spam and ham messages first
spam_messages = training_set_clean[training_set_clean['Label'] == 'spam']
ham_messages = training_set_clean[training_set_clean['Label'] == 'ham']

# P(Spam) and P(Ham)
p_spam = len(spam_messages) / len(training_set_clean)
p_ham = len(ham_messages) / len(training_set_clean)

# N_Spam
n_spam = spam_messages['SMS'].apply(len).sum()

# N_Ham
n_ham = ham_messages['SMS'].apply(len).sum()

# N_Vocabulary
n_vocabulary = len(vocabulary)

# Laplace smoothing
alpha = 1

# Calculating Parameters

In [19]:
parameters_spam = {unique_word:0 for unique_word in vocabulary}
parameters_ham = {unique_word:0 for unique_word in vocabulary}

In [24]:
for word in vocabulary:
    n_w_spam = spam_messages[word].sum()
    p_w_spam = (n_w_spam + alpha)/(n_spam + alpha * n_vocabulary)
    parameters_spam[word] = p_w_spam
    
    n_w_ham = ham_messages[word].sum()
    p_w_ham = (n_w_ham + alpha)/(n_ham + alpha * n_vocabulary)
    parameters_ham[word] = p_w_ham

In [25]:
import re

def classify(message):

    message = re.sub('\W', ' ', message)
    message = message.lower()
    message = message.split()

    p_spam_given_message = p_spam
    p_ham_given_message = p_ham

    for word in message:
        if word in parameters_spam:
            p_spam_given_message *= parameters_spam[word]
            
        if word in parameters_ham:
            p_ham_given_message *= parameters_ham[word]

    print('P(Spam|message):', p_spam_given_message)
    print('P(Ham|message):', p_ham_given_message)

    if p_ham_given_message > p_spam_given_message:
        print('Label: Ham')
    elif p_ham_given_message < p_spam_given_message:
        print('Label: Spam')
    else:
        print('Equal proabilities, have a human classify this!')

In [26]:
classify('WINNER!! This is the secret code to unlock the money: C3421.')

P(Spam|message): 1.3481290211300841e-25
P(Ham|message): 1.9368049028589875e-27
Label: Spam

In [27]:
classify('Sounds good, Tom, then see u there')

P(Spam|message): 2.4372375665888117e-25
P(Ham|message): 3.687530435009238e-21
Label: Ham

In [28]:
def classify_test_set(message):

    message = re.sub('\W', ' ', message)
    message = message.lower()
    message = message.split()

    p_spam_given_message = p_spam
    p_ham_given_message = p_ham

    for word in message:
        if word in parameters_spam:
            p_spam_given_message *= parameters_spam[word]

        if word in parameters_ham:
            p_ham_given_message *= parameters_ham[word]

    if p_ham_given_message > p_spam_given_message:
        return 'ham'
    elif p_spam_given_message > p_ham_given_message:
        return 'spam'
    else:
        return 'needs human classification'

In [29]:
test_set['predicted'] = test_set['SMS'].apply(classify_test_set)
test_set.head()

  Label                                                SMS predicted
0   ham          Later i guess. I needa do mcat study too.       ham
1   ham             But i haf enuff space got like 4 mb...       ham
2  spam  Had your mobile 10 mths? Update to latest Oran...      spam
3   ham  All sounds good. Fingers . Makes it difficult ...       ham
4   ham  All done, all handed in. Don't know if mega sh...       ham

In [35]:
correct = 0
total = test_set.shape[0]

In [36]:
for row in test_set.iterrows():
    row = row[1]
    if row['Label'] == row['predicted']:
        correct += 1
        
print('Correct:', correct)
print('Incorrect:', total - correct)
print('Accuracy:', correct/total)

Correct: 1100
Incorrect: 14
Accuracy: 0.9874326750448833