## Analyzing Used Car Listings on eBay Kleinanzeigen

In [1]:
import pandas as pd
import numpy as np

autos = pd.read_csv('autos.csv', encoding = 'Latin-1')

In [2]:
autos

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37
3,2016-03-12 16:58:10,Smart_smart_fortwo_coupe_softouch/F1/Klima/Pan...,privat,Angebot,"$4,350",control,kleinwagen,2007,automatik,71,fortwo,"70,000km",6,benzin,smart,nein,2016-03-12 00:00:00,0,33729,2016-03-15 03:16:28
4,2016-04-01 14:38:50,Ford_Focus_1_6_Benzin_TÜV_neu_ist_sehr_gepfleg...,privat,Angebot,"$1,350",test,kombi,2003,manuell,0,focus,"150,000km",7,benzin,ford,nein,2016-04-01 00:00:00,0,39218,2016-04-01 14:38:50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
49995,2016-03-27 14:38:19,Audi_Q5_3.0_TDI_qu._S_tr.__Navi__Panorama__Xenon,privat,Angebot,"$24,900",control,limousine,2011,automatik,239,q5,"100,000km",1,diesel,audi,nein,2016-03-27 00:00:00,0,82131,2016-04-01 13:47:40
49996,2016-03-28 10:50:25,Opel_Astra_F_Cabrio_Bertone_Edition___TÜV_neu+...,privat,Angebot,"$1,980",control,cabrio,1996,manuell,75,astra,"150,000km",5,benzin,opel,nein,2016-03-28 00:00:00,0,44807,2016-04-02 14:18:02
49997,2016-04-02 14:44:48,Fiat_500_C_1.2_Dualogic_Lounge,privat,Angebot,"$13,200",test,cabrio,2014,automatik,69,500,"5,000km",11,benzin,fiat,nein,2016-04-02 00:00:00,0,73430,2016-04-04 11:47:27
49998,2016-03-08 19:25:42,Audi_A3_2.0_TDI_Sportback_Ambition,privat,Angebot,"$22,900",control,kombi,2013,manuell,150,a3,"40,000km",11,diesel,audi,nein,2016-03-08 00:00:00,0,35683,2016-04-05 16:45:07
49999,2016-03-14 00:42:12,Opel_Vectra_1.6_16V,privat,Angebot,"$1,250",control,limousine,1996,manuell,101,vectra,"150,000km",1,benzin,opel,nein,2016-03-13 00:00:00,0,45897,2016-04-06 21:18:48

In [3]:
autos.info()
autos.head(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   dateCrawled          50000 non-null  object
 1   name                 50000 non-null  object
 2   seller               50000 non-null  object
 3   offerType            50000 non-null  object
 4   price                50000 non-null  object
 5   abtest               50000 non-null  object
 6   vehicleType          44905 non-null  object
 7   yearOfRegistration   50000 non-null  int64
 8   gearbox              47320 non-null  object
 9   powerPS              50000 non-null  int64
 10  model                47242 non-null  object
 11  odometer             50000 non-null  object
 12  monthOfRegistration  50000 non-null  int64
 13  fuelType             45518 non-null  object
 14  brand                50000 non-null  object
 15  notRepairedDamage    40171 non-null  object
 16  dateCreated          50000 non-null  object
 17  nrOfPictures         50000 non-null  int64
 18  postalCode           50000 non-null  int64
 19  lastSeen             50000 non-null  object
dtypes: int64(5), object(15)
memory usage: 7.6+ MB

,dateCrawled,name,seller,offerType,price,abtest,vehicleType,yearOfRegistration,gearbox,powerPS,model,odometer,monthOfRegistration,fuelType,brand,notRepairedDamage,dateCreated,nrOfPictures,postalCode,lastSeen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37

## Clean Columns

In [4]:
print(autos.columns)

Index(['dateCrawled', 'name', 'seller', 'offerType', 'price', 'abtest',
       'vehicleType', 'yearOfRegistration', 'gearbox', 'powerPS', 'model',
       'odometer', 'monthOfRegistration', 'fuelType', 'brand',
       'notRepairedDamage', 'dateCreated', 'nrOfPictures', 'postalCode',
       'lastSeen'],
      dtype='object')

In [5]:
columns_n = {
    'yearOfRegistration':'registration_year',
    'monthOfRegistration':'registration_month',
    'notRepairedDamage':'unrepaired_damage',
    'dateCreated':'ad_created',
    'dateCrawled':'date_crawled',
    'offerType':'offer_type',
    'vehicleType': 'vehicle_type',
    'fuelType':'fuel_type',
    'nrOfPictures':'num_pic',
    'postalCode':'postal_code',
    'lastSeen':'last_seen'}
autos.rename(columns=columns_n, inplace = True)

autos.head(3)

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_pic,postal_code,last_seen
0,2016-03-26 17:47:46,Peugeot_807_160_NAVTECH_ON_BOARD,privat,Angebot,"$5,000",control,bus,2004,manuell,158,andere,"150,000km",3,lpg,peugeot,nein,2016-03-26 00:00:00,0,79588,2016-04-06 06:45:54
1,2016-04-04 13:38:56,BMW_740i_4_4_Liter_HAMANN_UMBAU_Mega_Optik,privat,Angebot,"$8,500",control,limousine,1997,automatik,286,7er,"150,000km",6,benzin,bmw,nein,2016-04-04 00:00:00,0,71034,2016-04-06 14:45:08
2,2016-03-26 18:57:24,Volkswagen_Golf_1.6_United,privat,Angebot,"$8,990",test,limousine,2009,manuell,102,golf,"70,000km",7,benzin,volkswagen,nein,2016-03-26 00:00:00,0,35394,2016-04-06 20:15:37

## Initial Data Exploration and Cleaning

In [6]:
autos.describe(include = 'all')

,date_crawled,name,seller,offer_type,price,abtest,vehicle_type,registration_year,gearbox,powerPS,model,odometer,registration_month,fuel_type,brand,unrepaired_damage,ad_created,num_pic,postal_code,last_seen
count,50000,50000,50000,50000,50000,50000,44905,50000.000000,47320,50000.000000,47242,50000,50000.000000,45518,50000,40171,50000,50000.0,50000.000000,50000
unique,48213,38754,2,2,2357,2,8,NaN,2,NaN,245,13,NaN,7,40,2,76,NaN,NaN,39481
top,2016-03-05 16:57:05,Ford_Fiesta,privat,Angebot,$0,test,limousine,NaN,manuell,NaN,golf,"150,000km",NaN,benzin,volkswagen,nein,2016-04-03 00:00:00,NaN,NaN,2016-04-07 06:17:27
freq,3,78,49999,49999,1421,25756,12859,NaN,36993,NaN,4024,32424,NaN,30107,10687,35232,1946,NaN,NaN,8
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2005.073280,NaN,116.355920,NaN,NaN,5.723360,NaN,NaN,NaN,NaN,0.0,50813.627300,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,105.712813,NaN,209.216627,NaN,NaN,3.711984,NaN,NaN,NaN,NaN,0.0,25779.747957,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1000.000000,NaN,0.000000,NaN,NaN,0.000000,NaN,NaN,NaN,NaN,0.0,1067.000000,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1999.000000,NaN,70.000000,NaN,NaN,3.000000,NaN,NaN,NaN,NaN,0.0,30451.000000,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2003.000000,NaN,105.000000,NaN,NaN,6.000000,NaN,NaN,NaN,NaN,0.0,49577.000000,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2008.000000,NaN,150.000000,NaN,NaN,9.000000,NaN,NaN,NaN,NaN,0.0,71540.000000,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9999.000000,NaN,17700.000000,NaN,NaN,12.000000,NaN,NaN,NaN,NaN,0.0,99998.000000,NaN

In [7]:
autos['unrepaired_damage'].isnull().value_counts()

False    40171
True      9829
Name: unrepaired_damage, dtype: int64

Delete:
Seller
offer_type
num_pic

Cleaned:
odometer
price

In [8]:
autos = autos.drop(['seller','offer_type','num_pic'], axis = 1)

So, we drop three columns 'seller','offer_type','num_pic'

In [9]:
autos['price'] = autos['price'].str.replace('$','').str.replace(',','').astype(float)
autos["price"].head()

0    5000.0
1    8500.0
2    8990.0
3    4350.0
4    1350.0
Name: price, dtype: float64

In [10]:
autos['odometer'] = autos['odometer'].str.replace('km','').str.replace(',','').astype(int)
autos.rename(columns={'odometer':'odometer_km'}, inplace = True)
autos["odometer_km"].head()

0    150000
1    150000
2     70000
3     70000
4    150000
Name: odometer_km, dtype: int64

We cleaned columns 'price' and 'odometer'

## Exploring Odometer and Price

In [11]:
autos['odometer_km'].value_counts().sort_index(ascending=False)

150000    32424
125000     5170
100000     2169
90000      1757
80000      1436
70000      1230
60000      1164
50000      1027
40000       819
30000       789
20000       784
10000       264
5000        967
Name: odometer_km, dtype: int64

I dont see outliers in columns 'odometer_km'

In [12]:
autos["price"].value_counts().sort_index(ascending=False).head(20)

99999999.0    1
27322222.0    1
12345678.0    3
11111111.0    2
10000000.0    1
3890000.0     1
1300000.0     1
1234566.0     1
999999.0      2
999990.0      1
350000.0      1
345000.0      1
299000.0      1
295000.0      1
265000.0      1
259000.0      1
250000.0      1
220000.0      1
198000.0      1
197000.0      1
Name: price, dtype: int64

In [13]:
autos["price"].value_counts().sort_index(ascending=True).head(20)

0.0     1421
1.0      156
2.0        3
3.0        1
5.0        2
8.0        1
9.0        1
10.0       7
11.0       2
12.0       3
13.0       2
14.0       1
15.0       2
17.0       3
18.0       1
20.0       4
25.0       5
29.0       1
30.0       7
35.0       1
Name: price, dtype: int64

In [14]:
strange_price = autos[autos['price'].between(0,100)]
strange_price['price'].value_counts()

0.0      1421
1.0       156
100.0     134
50.0       49
99.0       19
80.0       15
70.0       10
60.0        9
30.0        7
10.0        7
40.0        6
90.0        5
25.0        5
75.0        5
65.0        5
49.0        4
45.0        4
20.0        4
2.0         3
12.0        3
17.0        3
13.0        2
11.0        2
5.0         2
55.0        2
15.0        2
18.0        1
79.0        1
35.0        1
66.0        1
59.0        1
14.0        1
8.0         1
9.0         1
3.0         1
29.0        1
47.0        1
89.0        1
Name: price, dtype: int64

In [15]:
autos = autos[autos['price'].between(29,350001)]

Removed outliers in price, what less 30 dollars and more 350000 dollars

## Exploring the date columns

In [16]:
autos[['date_crawled','ad_created','last_seen']][0:5]

          date_crawled           ad_created            last_seen
0  2016-03-26 17:47:46  2016-03-26 00:00:00  2016-04-06 06:45:54
1  2016-04-04 13:38:56  2016-04-04 00:00:00  2016-04-06 14:45:08
2  2016-03-26 18:57:24  2016-03-26 00:00:00  2016-04-06 20:15:37
3  2016-03-12 16:58:10  2016-03-12 00:00:00  2016-03-15 03:16:28
4  2016-04-01 14:38:50  2016-04-01 00:00:00  2016-04-01 14:38:50

In [17]:
autos['date_crawled'].str[:7].value_counts(normalize=True, dropna=False).sort_index(ascending=True).head(20)

2016-03    0.838023
2016-04    0.161977
Name: date_crawled, dtype: float64

In [18]:
autos['ad_created'].str[:7].value_counts(normalize=True, dropna=False).sort_index(ascending=True).head(20)

2015-06    0.000021
2015-08    0.000021
2015-09    0.000021
2015-11    0.000021
2015-12    0.000041
2016-01    0.000248
2016-02    0.001261
2016-03    0.837444
2016-04    0.160923
Name: ad_created, dtype: float64

In [19]:
autos['last_seen'].str[:7].value_counts(normalize=True, dropna=False).sort_index(ascending=True).head(20)

2016-03    0.42389
2016-04    0.57611
Name: last_seen, dtype: float64

In [20]:
autos['registration_year'].describe()

count    48371.000000
mean      2004.777511
std         88.816481
min       1000.000000
25%       1999.000000
50%       2004.000000
75%       2008.000000
max       9999.000000
Name: registration_year, dtype: float64

In [21]:
# strange = autos[autos['registration_year'].between(0,100)]
strange = autos[autos['registration_year'] < 1920]
strange['registration_year'].value_counts(dropna=False).sort_index(ascending=False).head(20)

1910    3
1800    2
1111    1
1001    1
1000    1
Name: registration_year, dtype: int64

In [22]:
strange = autos[autos['registration_year'] > 2016]
strange['registration_year'].value_counts(dropna=False).sort_index(ascending=False).head(20)

9999       3
9000       1
8888       1
6200       1
5911       1
5000       4
4800       1
4500       1
4100       1
2800       1
2019       2
2018     469
2017    1385
Name: registration_year, dtype: int64

In [23]:
(~autos["registration_year"].between(1900,2016)).sum() / autos.shape[0]

0.03878356866717662

In [24]:
autos = autos[(autos['registration_year'].between(1900,2015)) | ((autos['registration_year']==2016) & (autos['registration_month'] < 5))]

Delete all row where register year for auto more 2016-04 (because max data crawled - 2016-04) and less 1900.

## Exploring Price by Brand

In [27]:
autos["brand"].value_counts(normalize=True).head(20)

volkswagen        0.210932
bmw               0.110566
opel              0.106839
mercedes_benz     0.096835
audi              0.086919
ford              0.069788
renault           0.047099
peugeot           0.029816
fiat              0.025653
seat              0.018112
skoda             0.016499
nissan            0.015235
mazda             0.015213
smart             0.014080
citroen           0.013971
toyota            0.012772
hyundai           0.010069
sonstige_autos    0.009699
volvo             0.009176
mini              0.008805
Name: brand, dtype: float64

In [26]:
autos["brand"].describe()

count          45882
unique            40
top       volkswagen
freq            9678
Name: brand, dtype: object

In [31]:
brand_counts = autos["brand"].value_counts(normalize=True)
common_brands = brand_counts[brand_counts > .01].index
print(common_brands)

Index(['volkswagen', 'bmw', 'opel', 'mercedes_benz', 'audi', 'ford', 'renault',
       'peugeot', 'fiat', 'seat', 'skoda', 'nissan', 'mazda', 'smart',
       'citroen', 'toyota', 'hyundai'],
      dtype='object')

In [37]:
brand_mean_prices = {}

for brand in common_brands:
    only_b = autos[autos['brand'] == brand]
    mean_price = only_b['price'].mean()
    brand_mean_prices[brand] = int(mean_price)
    
for brand in brand_mean_prices:
    print('Mean price for {0} - {1}'.format(brand,brand_mean_prices[brand]))

Mean price for volkswagen - 5461
Mean price for bmw - 8404
Mean price for opel - 3013
Mean price for mercedes_benz - 8712
Mean price for audi - 9422
Mean price for ford - 3801
Mean price for renault - 2502
Mean price for peugeot - 3115
Mean price for fiat - 2835
Mean price for seat - 4464
Mean price for skoda - 6409
Mean price for nissan - 4811
Mean price for mazda - 4151
Mean price for smart - 3608
Mean price for citroen - 3828
Mean price for toyota - 5196
Mean price for hyundai - 5416

In [43]:
brand_mean_mileage = {}

for brand in common_brands:
    only_b = autos[autos['brand'] == brand]
    mean_mileage = only_b['odometer_km'].mean()
    brand_mean_mileage[brand] = int(mean_mileage)
    
for brand in brand_mean_mileage:
    print('Mean mileage for {0} - {1}'.format(brand,brand_mean_mileage[brand]))

Mean mileage for volkswagen - 128588
Mean mileage for bmw - 132525
Mean mileage for opel - 129245
Mean mileage for mercedes_benz - 130716
Mean mileage for audi - 129159
Mean mileage for ford - 124052
Mean mileage for renault - 128000
Mean mileage for peugeot - 126834
Mean mileage for fiat - 116792
Mean mileage for seat - 120872
Mean mileage for skoda - 110799
Mean mileage for nissan - 118240
Mean mileage for mazda - 124190
Mean mileage for smart - 99117
Mean mileage for citroen - 119329
Mean mileage for toyota - 115836
Mean mileage for hyundai - 106179

In [46]:
bmp_series = pd.Series(brand_mean_mileage).sort_values(ascending=False)
bmm_series = pd.Series(brand_mean_prices).sort_values(ascending=False)

brand_info = pd.DataFrame(bmp_series, columns = ['mean_price'])
brand_info['mean_mileage'] = bmm_series
print(brand_info)

               mean_price  mean_mileage
bmw                132525          8404
mercedes_benz      130716          8712
opel               129245          3013
audi               129159          9422
volkswagen         128588          5461
renault            128000          2502
peugeot            126834          3115
mazda              124190          4151
ford               124052          3801
seat               120872          4464
citroen            119329          3828
nissan             118240          4811
fiat               116792          2835
toyota             115836          5196
skoda              110799          6409
hyundai            106179          5416
smart               99117          3608

<class 'pandas.core.frame.DataFrame'>
Int64Index: 45882 entries, 0 to 49999
Data columns (total 17 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   date_crawled        45882 non-null  object
 1   name                45882 non-null  object
 2   price               45882 non-null  float64
 3   abtest              45882 non-null  object
 4   vehicle_type        43877 non-null  object
 5   registration_year   45882 non-null  int64
 6   gearbox             43901 non-null  object
 7   powerPS             45882 non-null  int64
 8   model               43794 non-null  object
 9   odometer_km         45882 non-null  int64
 10  registration_month  45882 non-null  int64
 11  fuel_type           42895 non-null  object
 12  brand               45882 non-null  object
 13  unrepaired_damage   37945 non-null  object
 14  ad_created          45882 non-null  object
 15  postal_code         45882 non-null  int64
 16  last_seen           45882 non-null  object
dtypes: float64(1), int64(5), object(11)
memory usage: 7.6+ MB